.git
venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
bin
lib
develop-eggs
dist
downloads
eggs
.eggs
lib64
parts
sdist
var
wheels
*.egg-info
.installed.cfg
*.egg
MANIFEST
.pytest_cache
.coverage
htmlcov
Deploy/*.tar
Deploy/*.bak.*
*.log
